.banner {
    position: relative;
    height: 100vh;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    flex-wrap: wrap;
}

.logoContainer {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        gap: 15px;
        bottom: 15px;
    }

    @media (max-width: 480px) {
        gap: 10px;
        bottom: 10px;
    }

    .logo {
        height: clamp(20px, 5vw, 40px);
    }
}

.banner-element {
    position: absolute;
    &.ball {
        width: 50px;
        top: 10%;
        left: 15%;
    }

    &.santa {
        left: 11%;
        bottom: 15%;
        width: clamp(100px, 25vw, 400px);
    }

    &.trail {
        left: 2%;
        bottom: 5%;
        width: clamp(50px, 30vw, 600px);
    }

    .present {
        width: 10%;
        bottom: 10%;

        &.first {    
            left: 40%;
            transform: translate(-50%);
        }
    
        &.second {
            left: 50%;
        }
    }
    

    &.deer {
        right: 5%;
        bottom: 5%;
        width: clamp(150px, 25vw, 400px);
    }

    &.light {
        top: -39%;
        width: 100%;
        opacity: 0.7;
    }
}

.text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #004d40;

    .textContainer {
        position: relative;

    .title {
        width: 50vw;
        font-family: 'Sunday';
        letter-spacing: 10px;
        font-size: clamp(2.5rem, 5vw, 4rem);
        font-weight: bold;
        text-transform: uppercase;
        color: #1d5f8d;
    }

    .subtitle {
        position: absolute;
        font-family: 'Sunday';
        letter-spacing: 10px;
        left: 50%;
        bottom: 20%;
        transform: translate(-50%);
        font-size: clamp(2rem, 4vw, 4rem);
        color: #e53935;
    }

    .description {
        font-size: clamp(1rem, 2vw, 1.7rem);
        margin-top: 10px;
        color: #555;
        background-color: transparent;
    }
}
}


