.description {
    width: 100%;
    background-color: #acd7f0;
    color: #440704;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 20px;
    @media (max-width: 800px) {
        padding: 12px;
    }
    & .section {
        width: 70%;
        text-align: center;
        @media (max-width: 800px) {
            width: 90%;
        }
    & p {
        font-size: 16px;
        line-height: 20px;
        @media (max-width: 800px) {
            font-size: 14px;
            line-height: 18px;
        }
    }
}
}