.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); // Напівпрозорий темний фон
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; // Забезпечує, що попап знаходиться над іншими елементами
  
    .popup-content {
      position: relative;
      background-color: white;
      padding: 12px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 1001; // Забезпечує, що вміст попапу знаходиться над overlay
      max-width: 500px; // або інша максимальна ширина за вашим вибором
      // width: 100%; // Адаптивна ширина
  
      .form-control {
        width: 100%; // Повна ширина інпута відносно контейнера
        padding: 8px 12px; // Внутрішні відступи для зручного вводу тексту
        border: 1px solid #ccc; // Тонка границя нейтрального кольору
        border-radius: 4px; // Округлені кути
        margin-bottom: 15px; // Відступ знизу для кожного інпута
        text-align: center;
      }
      h2 {
        color: #007bff; // Кольорове оформлення для основної кнопки
        margin-top: 1em;
        margin-bottom: 0.5em;
        font-size: 1.5em;

      }

      input {
        font-size: 16px;
      }

      p {
        font-size: 16px;
        text-align: left;
        margin-bottom: 0.5em;
      }
    
        .close-button {
          position: absolute;
          color: red;
          top: 10px;
          right: 10px;
          border: none;
          background: none;
          font-size: 24px;
          cursor: pointer;
        }

      .form-check {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
  
        .form-check-input {
          margin-right: 10px; // Відступ справа від чекбокса
        }
  
        .form-check-label {
          margin: 0; // Видалити стандартні маржини лейбла
          font-size: 14px;
        }
      }
  
      .btn {
        padding: 8px 15px; // Внутрішні відступи кнопки
        border-radius: 8px; // Округлені кути кнопки
  
        &-primary {
          background-color: #007bff; // Кольорове оформлення для основної кнопки
          border: none;
          color: white;
          font-size:18px;
          &:hover {
            background-color: green; // Кольорове оформлення для основної кнопки
          }
        }

      }
    }
  }
  